* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --dark-green-color: #96ceb4;
    --light-yellow-color: #ffeead;
    --red-color: #ff6f69;
    --dark-yellow-color: #ffcc5c;
    --light-green-color: #88d8b0;
  }
  
  body {
    color: var(--dark-green-color);
    font-family: Verdana, Helvetica, sans-serif;
    background-color: var(--light-yellow-color);
  }

/* HEADER */
  header {
      background-color: var(--red-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px;
      background-size: cover;
      background-position: 80%;
      background-attachment: fixed;
  }

  header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--dark-yellow-color);
    margin: 0;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  header a {
    text-decoration: none;
    color: var(--dark-yellow-color);
  }

  header nav {
    margin: 5px;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

/* HERO */
.hero {
    background-image: url('../images/lemon-tea.jpg');
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

  .hero-cta {
    width: 35%;
    margin: 3.5%;
  }

/* FOOTER */
  footer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer h2 {
    font-size: 24px;
    margin: 0;
  }
  
  footer ul {
    font-size: 16px;
    margin: 5px;
    line-height: 1.5;
    align-items: center;
    text-decoration: none;
    list-style: none;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}